body {
    background-color: lightslategray;
    font-family: "Inter", sans-serif;
}

.weatherapp {
    background-color: white;
    max-width: 600px;
    margin: 30px auto;
    box-shadow: 0 30px 50px rgba (65, 50, 100, 0.08);
    border-radius: 20px; 
    padding: 20px;
}

header {
    border-bottom: 1px solid #f9f7fe;
    padding: 0 0 30px 0;
}

a {

}

.search-form-input {
background-color: #f9f7fe;
border: none;
border-radius: 14px;
width: 80%;
font-size: 16px;
padding: 15px 20px;
}

.search-form-button {
background-color: rgb(105, 138, 170);
margin-left: 5px;
padding: 15px 25px;
font-size: 16px;
border: none;
border-radius: 14px;
color: white;
}

main {
padding: 30px 0;

}
.weather-data {
 display: flex;
 justify-content: space-between;
}

.weather-city {
 margin: 0;
 font-size: 38px;
 line-height: 48px;
}

.weather-details {
 font-size: 16px;
 line-height: 22px;
 color: rgba(0, 0, 0, 0.6);
}

.weather-details strong {
 color: rgb(253, 112, 112);
 font-weight: bold;
}

.container {
    display: flex;
}

.weather-icon {
 width: 90px;
 height: 90px;
 margin-top: 10x;
}

.weather-temperature {
 font-size: 80px;
 margin-left: 5px;
 font-weight: bold;
 
}

.weather-degrees {
    margin-top: 16px;
    font-size: 28px;
}

footer {
    border-top: 1px solid #f9f7fe;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}
