body {
    background-color: lightslategray;
    font-family: "Inter", sans-serif;
}

.weatherapp {
    background-color: white;
    max-width: 600px;
    margin: 30px auto;
    box-shadow: 0 30px 50px rgba (65, 50, 100, 0.08);
    border-radius: 20px; 
    padding: 20px;

}
